<settings>
	<category label="Sites">
		<setting visible="true" id="Anime4fun" 								type="bool" label="Anime4fun" 						default="false" />
		<setting visible="true" id="AnimeOnline" 								type="bool" label="AnimeOnline" 						default="true" />
		<setting visible="true" id="Animejoy" 								type="bool" label="Animejoy" 						default="false" />
        </category>
	<category label="General">
		<setting visible="true" id="auto-view" type="bool"   label="Enable Automatic View" default="true"/>
	</category>
	<category label="Favorites">
		<setting visible="true" type="text" default="W trakcie."   id="fav.tv.1.name"  label="Favourites  1: Watching" />
		<setting visible="true" type="text" default="W planach."  id="fav.tv.2.name"  label="Favourites  2: In plans" />
		<setting visible="true" type="text" default="Ukończone."  id="fav.tv.3.name"  label="Favourites  3: Completed" />
		<setting visible="true" type="text" default="Porzucone."  id="fav.tv.4.name"  label="Favourites  4: Abandoned" />			
	</category>
	<category label="Thumbnails">
		<setting visible="true" id="aodc-thumbs" type="bool"   label="Anime-odcinki -- Enable thumbnails skan." default="true"/>
		<setting visible="true" id="ajoy-thumbs" type="bool"   label="Anime-joy -- Enable thumbnails skan." default="true"/>
		<setting id="reset_db" type="action" label="[COLOR red]Reset thumbnails[/COLOR]" enable="true" action="RunPlugin(plugin://plugin.video.anime-iptv/?mode=delete_table)"/>
	</category>
	<category label="Account Google">
	<setting visible="true" id="googlelog" type="bool"   label="Włącz logowanie do Google Drive" default="false"/>
	<setting label="Username" type="text"   id="username3" 										default="" enable="!eq(-1,false)"/>
	<setting label="Password" type="text"   id="password3" option="hidden" 		default="" enable="!eq(-2,false)"/>
	</category>
</settings>